<br clear="all"/>
<div style="font-size: 12px">
<% for @geotag in @geotags -%>
    <%= @geotag.description %> - <%= link_to @geotag.latitude.to_s + ", " + @geotag.longitude.to_s, { :action => 'show', :id => @geotag.id } %><br />
<% end %>
</div>