<br clear="all"/>
<div style="font-size: 12px">
    <table width="100%" cellpadding="2" cellspacing="2">
        <thead>
            <tr>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Photos</th>
            </tr>
        </thead>
        <tbody>
            <% for @geotag in @geotags -%>
            <tr>
                <td><%= link_to @geotag.description, { :action => 'show', :id => @geotag.id } %></td>
                <td><%= @geotag.latitude.to_s %></td>
                <td><%= @geotag.longitude.to_s %></td>
                <td><%= @geotag.photos.count %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>