<table id="SubNav" width="800" cellspacing="0">
    <tbody>
        <tr>
            <td class="Buddy">
                <a href="/photos/18229944@N04/">
                    <img width="48" height="48" alt="to your photostream page" src="http://l.yimg.com/g/images/buddyicon.jpg#18229944@N04"/>
                </a>
            </td>
            <td class="Section">
	            <h1>Your photostream <small><%= Photo.find(:all).size %> items</small></h1>
				<p class="Links">
				    <%= link_to "Albums", { :controller => 'albums', :action => 'list' } %>
                    <img width="1" height="11" alt="" src="http://l.yimg.com/g/images/subnavi_dots.gif"/>
			        Tags
                    <img width="1" height="11" alt="" src="http://l.yimg.com/g/images/subnavi_dots.gif"/>
		            Map
                    <img width="1" height="11" alt="" src="http://l.yimg.com/g/images/subnavi_dots.gif"/>
					Archives
                    <img width="1" height="11" alt="" src="http://l.yimg.com/g/images/subnavi_dots.gif"/>
					Favorites
                    <img width="1" height="11" alt="" src="http://l.yimg.com/g/images/subnavi_dots.gif"/>
					Profile
		        </p>
	        </td>
        </tr>
    </tbody>
</table>