<% if @photostream %>
<table id="SubNav" width="500" cellspacing="0">
    <tbody>
        <tr>
            <td class="Buddy">
                <img width="48" height="48" title="Happy, the new &quot;in thing&quot this year!" src="/images/buddy.gif"/>
            </td>
            <td class="Section">
	            <h1>
	                The gallery
                    <small>
                        <%= Photo.find(:all).size %> photos contained within <%= Album.find(:all).size %> albums
                    </small>
                </h1>
				<p class="Links">
				    <%= link_to "Albums", albums_path %>
                    <img width="1" height="11" alt="" src="/images/subnavi_dots.gif"/>
			        <%= link_to "Geotags", geotags_path %>
		        </p>
	        </td>
        </tr>
    </tbody>
</table>
<% end %>