[submodule "web/vendor/plugins/mimetype-fu"]
	path = web/vendor/plugins/mimetype-fu
	url = git://github.com/mattetti/mimetype-fu.git
[submodule "web/vendor/plugins/attachment_fu"]
	path = web/vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "web/vendor/plugins/acts_as_audited"]
	path = web/vendor/plugins/acts_as_audited
	url = git://github.com/collectiveidea/acts_as_audited.git
[submodule "web/vendor/plugins/acts_as_list"]
	path = web/vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "web/vendor/plugins/acts_as_tree"]
	path = web/vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "web/vendor/plugins/in_place_editing"]
	path = web/vendor/plugins/in_place_editing
	url = git://github.com/rails/in_place_editing.git
[submodule "web/vendor/plugins/permalink_fu"]
	path = web/vendor/plugins/permalink_fu
	url = git://github.com/technoweenie/permalink_fu.git
