<%= error_messages_for :image %>

<p>The button below allows uploading more than one image at a time. As the files are uploaded you will shown the thumbnails as they are generated. Do not navigate away from this page while uploading, as doing so will cancel the upload process.</p>

<script type='text/javascript'>
  var swfu;

  window.onload = function () {
    swfu = new SWFUpload({

      // Backend Settings
      upload_url: "<%= album_images_url(@album) %>",

      // File Upload Settings
      file_size_limit : "5 MB",	// 5MB
      file_types : "*.jpg; *.jpeg; *.JPG",
      file_types_description : "JPG Images",
      file_upload_limit : "0",

      // Event Handler Settings - these functions as defined in Handlers.js
      //  The handlers are not part of SWFUpload but are part of my website and control how
      //  my website reacts to the SWFUpload events.
      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

      // Button Settings
      button_image_url : "/images/SmallSpyGlassWithTransperancy_17x18.png",
      button_placeholder_id : "spanButtonPlaceholder",
      button_width: 180,
      button_height: 18,
      button_text : '<span class="button">Select Images <span class="buttonSmall">(5 MB Max)</span></span>',
      button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 12pt; } .buttonSmall { font-size: 10pt; }',
      button_text_top_padding: 0,
      button_text_left_padding: 18,
      button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
      button_cursor: SWFUpload.CURSOR.HAND,

      // Flash Settings
      flash_url : "/assets/swfupload.swf",

      custom_settings : {
          upload_target : "divFileProgressContainer"
      },

      // Debug Settings
      debug: false

    });
  };
</script>

<div style="margin: 0px 10px;">
	<div>
		<form>
          <div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
			<span id="spanButtonPlaceholder"></span>
          </div>
		</form>
	</div>
	<div id="divFileProgressContainer" style="height: 75px;"></div>
	<div id="thumbnails"></div>
</div>

