/* facebook style stream */
#stream
{
    margin-top:25px;
    float: right;
    font-size: 11px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
}

#stream .top
{
    width: 300px;
    height: 5px;
    background-image: url(/images/stream_top.gif);
}

#stream .middle
{
    width: 280px;
    background-image: url(/images/stream_middle.gif);
    background-repeat: repeat-y;
    padding-left: 10px;
    padding-right: 10px;
}

#stream .bottom
{
    width: 300px;
    height: 5px;
    background-image: url(/images/stream_bottom.gif);
}

#stream .middle .title
{
    width: 270px;
    padding-top: 5px;
    font-weight: bold;
    border-bottom:1px solid #CCCCCC;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#stream .middle .log
{
    padding-bottom: 5px;
}

#stream .middle .log .add_photo
{
    background-image: url(/images/icons/photo_add.gif);
    background-repeat: no-repeat;
    padding-left: 23px;
    min-height: 16px;
}

#stream .middle .log .edit_photo
{
    background-image: url(/images/icons/photo_edit.gif);
    background-repeat: no-repeat;
    padding-left: 23px;
    min-height: 16px;
}

#stream .middle .log .add_album
{
    background-image: url(/images/icons/album_add.gif);
    background-repeat: no-repeat;
    padding-left: 23px;
    min-height: 16px;
}

#stream .middle .log .edit_album
{
    background-image: url(/images/icons/album_edit.gif);
    background-repeat: no-repeat;
    padding-left: 23px;
    min-height: 16px;
}

#stream .middle .log .add_geotag
{
    background-image: url(/images/icons/geotag_add.gif);
    background-repeat: no-repeat;
    padding-left: 23px;
    min-height: 16px;
}

#stream .middle .log .edit_geotag
{
    background-image: url(/images/icons/geotag_edit.gif);
    background-repeat: no-repeat;
    padding-left: 23px;
    min-height: 16px;
}

#stream_entry
{
    padding-bottom: 5px;
}

#stream_entry .time
{
    font-size: 9px;
    color: #777777;
}

#info
{
    float:right;
    width: 260px;
    margin-top: 70px;
}
 
#info .basic
{
    color:#666666;
    font-size:11px;
    padding:2px;
}

#info .copyright
{
    color:#666666;
    font-size:11px;
    margin-bottom:10px;
    margin-top:10px;
    padding-left: 18px;
    padding-top: 1px;
    background-image: url(/images/icon_all_rights.gif);
    background-repeat: no-repeat;
}

#info .exif
{
    color:#999999;
    font-size:11px;
    line-height:15px;
    list-style-type:circle;
    margin-left:-21px;
}

#info h4
{
    color:#666666;
    font-size:14px;
    font-weight:normal;
    margin-bottom:10px;
}